In [9]:
import numpy as np
import pylab as pp
import pandas as pd
import os

pp.style.use("bmh")

In [10]:
filename = "Dollar_D_CUR.txt"
loc = "D:\Stocks"

os.chdir(loc)

import alical

# Loading in the Data
df = pd.read_csv(filename, delimiter=",")

In [11]:
df

          <Ticker>  <Per>  <DTYYYYMMDD>    <TIME>    <Open>    <High>  <Low>  \
Dollar d  20060320      0        9040.0    9040.0    9040.0    9040.0      0
       d  20070320      0        9220.0    9220.0    9220.0    9220.0      0
       d  20071213      0        9400.0    9400.0    9400.0    9400.0      0
       d  20071215      0        9430.0    9430.0    9430.0    9430.0      0
       d  20071216      0        9470.0    9470.0    9470.0    9470.0      0
...            ...    ...           ...       ...       ...       ...    ...
       d  20200625      0      191620.0  191620.0  188410.0  188430.0      0
       d  20200627      0      188450.0  188520.0  188410.0  188410.0      0
       d  20200628      0      188520.0  190520.0  188410.0  190430.0      0
       d  20200629      0      190490.0  190520.0  190410.0  190520.0      0
       d  20200630      0      190460.0  190520.0  189810.0  189920.0      0

           <Close>  <Vol>  <Openint>
Dollar d    9040.0  type5     111862
       d    9220.0  type5     111862
       d    9400.0  type5     111862
       d    9430.0  type5     111862
       d    9470.0  type5     111862
...            ...    ...        ...
       d  188430.0  type5     111862
       d  188410.0  type5     111862
       d  190430.0  type5     111862
       d  190520.0  type5     111862
       d  189920.0  type5     111862

[3569 rows x 10 columns]

In [3]:
## Datetime conversion
df['<DTYYYYMMDD>'] = pd.to_datetime(df['<DTYYYYMMDD>'], format='%Y%m%d')

# Dropping any NaNs
df.dropna(inplace=True)

df.rename(columns={"<DTYYYYMMDD>": "Date"}, inplace=True)

ValueError: time data '9040' does not match format '%Y%m%d' (match)

In [ ]:
d = []
for i in range(len(df["Date"])):
    d.append(alical.Gregorian(str(df["Date"][i])[0:10]).persian_string()) #Tabdil tarikh be Irani

In [ ]:
for i in range(len(df["Date"])):
    df["Date"] = df["Date"].replace(df["Date"][i], d[i])

In [ ]:
date_list = []
for date in df["Date"]:
    date_list.append(date[:7])
    
Dates = df["Date"].tolist() #kole tarikh ha
myDates = list(dict.fromkeys(date_list)) #Eshterake Tatikh ha

# First max and min:

In [ ]:
ext = np.zeros((len(myDates), 2)) #[[max], [min]]
ind = np.zeros((len(myDates), 1)).tolist()

#first indicator
for date in Dates:
    if (date[:7] in myDates[0]):
        ind1 = Dates.index(date) #یافتن مکان آخرین روز ماه

ind[0] = ind1

a = [[], [], [], []]
names = ["<Open>", "<High>", "<Low>", "<Close>"]
for i in range(4):
    for j in names:
        a[i] = df[j][0:ind1].tolist()
        
ext[0][0] = max(max(a))
ext[0][1] = min(min(a))

# Calculating all of the extremums:

In [ ]:
for i in range(1, len(myDates)):
    for date in Dates:
        if (date[:7] in myDates[i]):
            ind1 = Dates.index(date)
    ind[i] = ind1
    a = [[], [], [], []]
    for ii in range(4):
        for j in names:
            a[ii] = df[j][ind[i-1]:ind[i]].tolist()
    ext[i][0] = max(max(a))
    ext[i][1] = min(min(a))

In [ ]:
Data = {"Date": myDates,
        "Max": ext[:, 0],
        "Min": ext[:, 1]}
DataF = pd.DataFrame(Data)
# DataF.set_index('Date', inplace=True)

In [ ]:
DataF.to_csv("output.csv")

In [ ]:
import pylab as pp

In [ ]:
%matplotlib notebook

pp.plot(DataF["Date"], DataF["Max"], color='skyblue', label = "Max")
pp.plot(DataF["Date"], DataF["Min"], color='red', label = "Min")
pp.legend();