In [61]:
import os
import requests
import pandas as pd
import io
import urllib.request

In [40]:
os.chdir("D:\Stocks\Ali Calandar")

code = "7769065543658313"
url = "http://www.tsetmc.com/tsev2/data/Export-txt.aspx?t=i&a=1&b=0&i=" + code
r = requests.get(url, allow_redirects=True).content

# open('7769065543658313.csv', 'wb').write(r.content);

In [74]:
code = "25244329144808274"
url2 = 'http://www.tsetmc.com/Loader.aspx?ParTree=15'
# http://www.tsetmc.com/Loader.aspx?ParTree=151311&i=' + code
r = requests.get(url2, allow_redirects=True)

In [85]:
from lxml import html
page = requests.get('http://www.tsetmc.com/Loader.aspx?ParTree=151311&i=611986653700161')
tree = html.fromstring(page.content)

In [89]:
page.text.index("LVal18AFC=\'")

1889

In [93]:
page.text[1889:1910]

"LVal18AFC='سبزوا',DEv"

In [44]:
df = pd.read_csv(io.StringIO(r.decode('utf-8')))

In [42]:
import alical

In [46]:
## Datetime conversion
df['<DTYYYYMMDD>'] = pd.to_datetime(df['<DTYYYYMMDD>'], format='%Y%m%d')

# Dropping any NaNs
df.dropna(inplace=True)

df.rename(columns={"<DTYYYYMMDD>": "Date"}, inplace=True)

In [47]:
d = []
for i in range(len(df["Date"])):
    d.append(alical.Gregorian(str(df["Date"][i])[0:10]).persian_string()) #Tabdil tarikh be Irani

In [48]:
for i in range(len(df["Date"])):
    df["Date"] = df["Date"].replace(df["Date"][i], d[i])