In [2]:
import time, os, re
from tqdm import tqdm
from bs4 import BeautifulSoup
import pandas as pd
import requests
from unidecode import unidecode

In [84]:
url = 'https://www.majalesalamat.com/tools/calories/fruits/'
df = pd.read_html(url)[0]
df.drop(0, inplace=True)

In [85]:
df.rename(columns = {0: 'name', 1: 'value', 2: "calories"}, inplace=True)
df['calories'] = pd.to_numeric(df['calories'].apply(unidecode), errors='coerce')

In [88]:
unit = []
value = []
for i in range(len(df.value.tolist())):
    value.append(int(df.value.tolist()[i].split()[0]))
    unit.append(df.value.tolist()[i].split()[-1])

In [89]:
df.value = value
df["unit"] = unit

In [111]:
fruit = 'هندوانه'

index = df.name.tolist().index(fruit)

print(fruit + ": " + str(df.value.tolist()[index]) + " " + df.unit.tolist()[index] + " " + str(df.calories.tolist()[index]) + " کالری")

هندوانه: 1 لیوان 45 کالری

In [109]:
df.to_csv("D:/fruits.csv", index=False, encoding='utf-8-sig')
os.startfile("D:/fruits.csv")

In [4]:
df = pd.read_csv("D:/fruits.csv")

In [7]:
df.describe()

            value    calories
count   97.000000   97.000000
mean    51.010309   67.597938
std     49.754500   71.009046
min      1.000000    1.000000
25%      1.000000   30.000000
50%    100.000000   50.000000
75%    100.000000   70.000000
max    100.000000  360.000000